// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background: linear-gradient(90deg, #FFCCCC, #CCFFFF);

  }

  .container {
    font-size: 40px;
    width: 100%;
    height:100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      "header header header header header"
      ". content content content ."
      ". content content content ."
      ". content content content ."
      "footer footer footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .info-box {
    width: 30vh;
    font-family: 'roboto condensed', cursive;
    border: solid 5px #CCFFFF;
    padding: 4vh;
    background: white;
    box-shadow: -5px 7px 20px #888888;
    border-radius: 0%;
    text-align: center;
    grid-area: content;
  }

  .info-text {
    font-size: 3vh;
    
  }


// Variables

// $gray: #F4F4F4;

// body {
//   background: $gray; // Using this variable
// }

// // Nesting

// .banner {
//     background: red;
//     h1 {
//       font-size: 50px;
//     }
//   }

// //   Chaining
//   a {
//     color: grey;
//     &:hover {
//       color: black;
//     }
//   }